<div class="bg-black shadow bottom-0 dark:bg-white-800 fixed w-full h-fit">
  <div class="container bg-red w-full h-2"></div>
  <div class="w-full md:flex md:items-center md:justify-between p-2">
    <span class="text-sm text-white sm:text-center dark:text-white-400"
      >2023
      <a href="https://www.newcastleravens.co.uk" target="_blank" class="hover:underline"
        >Newcastle Ravens</a
      >
    </span>
    <span class="text-white text-xs">
      Developed by Mia Coupland
    </span>
  </div>
</div>
