<div class="container w-full flex flex-col items-center">
  <h2 class="text-center text-3xl m-4 font-bold">UNION FIXTURES SIGN-UP</h2>
  <form [formGroup]="signupForm" class="m-4" (ngSubmit)="onSubmit()">
    <table class="table-fixed border-collapse font-normal mb-5 w-full max-w-6xl">
      <thead>
        <tr>
          <th colspan="2" class="bg-black text-white ">TEAM INFORMATION</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="border-y border-slate-700 p-2">
            Team Name:
            <input
              type="text"
              [id]="'teamName'"
              formControlName="teamName"
              required
              placeholder="Team Name"
              class="bg-slate-100 min-h-fit min-w-fit focus:outline-none"
            />
          </td>
          <td class="border-y border-slate-700 p-2">
            Fixtures Secretary:
            <input
              type="text"
              [id]="'secretaryName'"
              formControlName="secretaryName"
              required
              placeholder="Fixtures Secretary"
              class="bg-slate-100 min-h-fit min-w-fit focus:outline-none"
            />
          </td>
        </tr>
        <tr>
          <td class="border-y border-slate-700 p-2">
            Fixtures Email:
            <input
              type="email"
              [id]="'secretaryEmail'"
              formControlName="secretaryEmail"
              required
              placeholder="Fixtures Email"
              class="bg-slate-100 min-h-fit min-w-fit focus:outline-none"
            />
          </td>
          <td class="border-y border-slate-700 p-2">
            Fixtures Phone No:
            <input
              type="text"
              [id]="'secretaryPhone'"
              formControlName="secretaryPhone"
              required
              placeholder="Fixtures Phone No."
              class="bg-slate-100 min-h-fit min-w-fit focus:outline-none"
            />
          </td>
        </tr>
      </tbody>
    </table>

    <table class="table-fixed border-collapse font-normal w-full max-w-6xl">
      <thead>
        <tr>
          <th class="bg-black text-white">PLAYER NAME</th>
          <th class="bg-black text-white">PRONOUNS</th>
          <th class="bg-black text-white">DIETARY REQUIREMENTS</th>
          <th class="bg-black text-white">ALLERGIES</th>
          <th class="bg-black text-white"></th>
        </tr>
      </thead>
      <tbody formArrayName="fields">
        <tr
          *ngFor="let field of fieldControls; let i = index"
          [formGroupName]="i"
        >
          <td class="border-y border-slate-700 p-2">
            {{ i + 1 }}.
            <input
              type="text"
              [id]="'name' + i"
              formControlName="name"
              required
              placeholder="Player name"
              class="bg-slate-100 min-h-fit min-w-fit focus:outline-none"
            />
          </td>
          <td class="border border-slate-700 p-2">
            <input
              type="text"
              [id]="'pronouns' + i"
              formControlName="pronouns"
              required
              placeholder="He/Him"
              class="bg-slate-100 focus:outline-none"
            />
          </td>
          <td class="border border-slate-700 p-2">
            <input
              type="text"
              [id]="'dietary' + i"
              formControlName="dietary"
              placeholder="..."
              class="bg-slate-100 focus:outline-none"
            />
          </td>
          <td class="border border-slate-700 p-2">
            <input
              type="text"
              [id]="'allergies' + i"
              formControlName="allergies"
              placeholder="..."
              class="bg-slate-100 focus:outline-none"
            />
          </td>
          <td class="border-y border-slate-700 p-2">
            <button type="button" (click)="removeRow(i)">Remove</button>
          </td>
        </tr>
      </tbody>
    </table>
    <button
      type="button"
      (click)="addRow()"
      class="bg-black text-white rounded pb-2 px-2 m-2"
    >
      Add Row
    </button>
    <button
      type="submit"
      class="bg-yellow text-white rounded pb-2 px-2 m-2 disabled:bg-grey"
      [disabled]="!signupForm.valid"
    >
      Submit
    </button>
  </form>
</div>
